[user]
	name = Tony-Sol
	email = tony.kent.nar.earth@gmail.com
	signingKey = tony.kent.nar.earth@gmail.com
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[init]
	defaultBranch = master
[core]
	autocrlf = input
	editor = nvim
	pager = less -i
	quotepath = true
[fetch]
	prune = true
[rebase]
	autoStash = true
[pull]
	rebase = true
[push]
	default = current
[color]
	ui = always
	grep = always
	interactive = always
	branch = always
	status = always
	diff = auto
[color "branch"]
	current = magenta
	local = green
	remote = yellow
[color "diff"]
	meta = yellow
	frag = magenta
	old = red
	new = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[format]
	pretty = format:%C(cyan bold)%H%C(reset) %ci %C(italic)(%cr)%C(reset) %C(blue)%cn%C(reset) %C(auto,bold)%G?%C(reset) %C(green)%s%C(magenta)%d%C(reset) %C(red)(%an)%C(reset) %C(yellow)[%p]%C(reset) %b
[i18n]
	logOutputEncoding = utf-8
