[user]
	name = Tony-Sol
	email = tony.kent.nar.earth@gmail.com
	signingKey =
[commit]
	gpgsign = true
[init]
	defaultBranch = master
[core]
	autocrlf = input
	editor = nvim
	pager = less -i
[fetch]
	prune = true
[rebase]
	autoStash = true
[pull]
	rebase = true
[push]
	default = current
[color]
	ui = always
	grep = always
	interactive = always
	diff = always
	branch = always
	status = always
[color "branch"]
	current = magenta
	local = green
	remote = yellow
[color "diff"]
	meta = yellow
	frag = magenta
	old = red
	new = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[format]
	pretty = format:%C(cyan bold)%h%C(reset) %ci - %cr %C(red)%cn%C(reset) %C(green)%s%C(magenta)%d %C(red)(%an)%C(reset) %C(yellow)(%p)%C(reset) %b
