[submodule "ovpn/openvpn-mac-dns"]
	path = ovpn/openvpn-mac-dns
	url = https://github.com/Tony-Sol/openvpn-mac-dns.git
[submodule "tmux/plugins/tmux-current-pane-hostname"]
	path = tmux/plugins/tmux-current-pane-hostname
	url = https://github.com/Tony-Sol/tmux-current-pane-hostname.git
[submodule "tmux/plugins/tmux-mode-indicator"]
	path = tmux/plugins/tmux-mode-indicator
	url = https://github.com/Tony-Sol/tmux-mode-indicator.git
[submodule "zsh/extensions/git-aware-prompt"]
	path = zsh/extensions/git-aware-prompt
	url = https://github.com/Tony-Sol/git-aware-prompt.git
[submodule "zsh/extensions/zsh-autosuggestions"]
	path = zsh/extensions/zsh-autosuggestions
	url = https://github.com/Tony-Sol/zsh-autosuggestions.git
[submodule "zsh/extensions/zsh-syntax-highlighting"]
	path = zsh/extensions/zsh-syntax-highlighting
	url = https://github.com/Tony-Sol/zsh-syntax-highlighting.git
[submodule "zsh/extensions/zsh-autocomplete"]
	path = zsh/extensions/zsh-autocomplete
	url = https://github.com/Tony-Sol/zsh-autocomplete.git
[submodule "zsh/extensions/zsh-completions"]
	path = zsh/extensions/zsh-completions
	url = https://github.com/Tony-Sol/zsh-completions.git
