*
*/

!/.gitignore
!/.gitmodules
!/README.md

!/.misc/
!/.misc/**
!/NuGet/
!/NuGet/**
!/act/
!/act/**
!/bat/
!/bat/**
!/containers/
!/containers/**
!/dive/
!/dive/**
!/dlv/
!/dlv/**
!/docker/
!/docker/**
!/gh/
!/gh/**
!/git/
!/git/**
!/glab-cli/
!/glab-cli/**
!/glow/
!/glow/**
!/helm/
!/helm/**
!/homebrew/
!/homebrew/**
!/htop/
!/htop/**
!/ideavim/
!/ideavim/**
!/krew/
!/krew/**
!/lazydocker/
!/lazydocker/**
!/lazygit/
!/lazygit/**
!/luarocks/
!/luarocks/**
!/m2/
!/m2/**
!/mise/
!/mise/**
!/npm/
!/npm/**
!/nvim/
!/nvim/**
!/octosql/
!/octosql/**
!/opentofu/
!/opentofu/**
!/pip/
!/pip/**
!/podman-tui/
!/podman-tui/**
!/powershell/
!/powershell/**
!/pypoetry/
!/pypoetry/**
!/ripgrep/
!/ripgrep/**
!/sqlite3/
!/sqlite3/**
!/ssh/
!/ssh/**
!/syft/
!/syft/**
!/teleport/
!/teleport/**
!/tmux/
!/tmux/**
!/via/
!/via/**
!/vim/
!/vim/**
!/virtualenv/
!/virtualenv/**
!/wezterm/
!/wezterm/**
!/wget/
!/wget/**
!/wireshark/
!/wireshark/**
!/zsh/
!/zsh/**

# Mirroring git/ignore due to excludes above
.DS_Store
.localized
Thumbs.db
