[tools]
# mise components
fnox = "latest"
pitchfork = "latest"
usage = "latest"
# langs
go = "latest"
lua = "latest" # use 5.1 for neovim, requires unzip
node = "latest"
ruby = "latest" # requires libz-dev libssl-dev libffi-dev libyaml-dev
rust = "latest"
# langs package managers
yarn = "latest"
pnpm = "latest"
pipx = "latest"
poetry = "latest"
# cli tools
act = "latest"
ansible = "latest"
ast-grep = "latest"
bat = "latest"
ctop = "latest"
doggo = "latest"
eza = "latest"
fd = "latest"
fzf = "latest"
gh = "latest"
glab = "latest"
glow = "latest"
gokey = "latest"
gron = "latest"
grpcurl = "latest"
hexyl = "latest"
lazydocker = "latest"
lazygit = "latest"
lazyjournal = "latest"
lima = "latest"
mutagen = "latest"
octosql = "latest"
openbao = "latest" # open-source hashicorp/vault
opentofu = "latest" # open-source hashicorp/terraform
process-compose = "latest"
ripgrep = "latest"
ripgrep-all = "latest"
vivid = "latest"
yq = "latest"
# container tools
argocd = "latest"
helm = "latest"
helmfile = "latest"
helmwave = "latest"
kind = "latest"
krew = "latest"
kompose = "latest"
kubectl = "latest"
kustomize = "latest"
minikube = "latest"

[settings]
activate_aggressive = false
always_keep_download = false
always_keep_install = false
env_file = ".env"
experimental = true
paranoid = true
quiet = false
raw = true
verbose = false
yes = true
# use system python by default
disable_tools = [ "python" ]
# don't override GOBIN...
go_set_gobin = false
# ...but setup GOROOT
go_set_goroot = true
# trust all mise configs in XDG_PROJECTS_DIR
trusted_config_paths = [ "~/Projects/" ]
