*
!*/
!.gitignore
!extensions/**

# always
!.zshenv
# login && (interactive || non-interactive)
!.zprofile
# (login || non-login) && interactive
!.zshrc
# login && (interactive || non-interactive)
!.zlogin
# login && (interactive || non-interactive)
!.zlogout
