<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>xyz.ergohaven.qmk-hid-host.plist</string>
	<key>WorkingDirectory</key>
	<string>/opt/qmk-hid-host</string>
	<key>ProgramArguments</key>
	<array>
		<string>/opt/qmk-hid-host/qmk-hid-host</string>
		<string>--config</string>
		<string>$XDG_CONFIG_HOME/qmk/keyboards/qmk-hid-host.json</string>
	</array>
	<key>StandardOutPath</key>
	<string>/dev/null</string>
	<key>StandardErrorPath</key>
	<string>/opt/qmk-hid-host/err.log</string>
	<key>RunAtLoad</key>
	<true/>
	<key>ProcessType</key>
	<string>Background</string>
	<key>KeepAlive</key>
	<true/>
</dict>
</plist>

